:root {
    --color-blanco: #FFFFFF;
    --background-gris-claro: #F5F5F5;
    --color-gris: #A2A2A2;
    --color-gris-borde: #C8C8C8;
    --color-azul: #2A7AE4;
    --color-azul-claro: #7FABE5;
    --color-gris-oscuro: #464646;
    --background-azul-claro: #EAF2FD;

    --raleway: "Raleway", sans-serif;
}

html {
    font-size: 16px;
}

body {
    font-family: var(--raleway);
}

.container {
    padding-left: 12%;
    padding-right: 12%;
}

@media screen and (min-width:768px) and (max-width:1024px) {
    .container {
        padding-left: 6%;
        padding-right: 6%;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    .container {
        padding-left: 6%;
        padding-right: 6%;
    }
}