.all-products {
    padding-top: 4rem;
    background-color: var(--background-gris-claro);
    padding-bottom: 4rem;
}

.all-products__seccion {
    padding-bottom: 4rem;
}

.all-products__principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.2rem;
}

.all-products__titulo {
    font-weight: 700;
    font-size: 2rem;
    color: var(--color-gris-oscuro);
}

.all-products__button {
    color: var(--color-blanco);
    background-color: var(--color-azul);
    border-style: none;
    font-family: var(--raleway);
    padding: 1rem;
    transition: all 0.2s ease-in-out;
}

.all-products__button:hover {
    cursor: pointer;
    background-color: var(--color-azul-claro);
}

.all-products__lista {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.all-products__lista--full {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.all-products__producto {
    width: calc((100% / 6) - 12px);
    margin-left: 0.875rem;
    padding-bottom: 4rem;
    position: relative;
}

.all-products__producto--primero {
    margin-left: 0rem;
}

.all-products__imagen {
    width: 100%;
    height: 120px;
}

.all-products__nombre {
    font-weight: 500;
    color: var(--color-gris-oscuro);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
}

.all-products__precio {
    font-weight: 700;
    font-size: 1rem;
    color: var(--color-gris-oscuro);
    padding-bottom: 0.6rem;
}

.all-products__link {
    color: var(--color-azul);
    font-weight: 700;
    font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .all-products {
        padding-top: 2rem;
    }

    .all-products__titulo {
        font-size: 1.375rem;
    }

    .all-products__producto {
        width: calc((100% / 4) - 12px);
        padding-bottom: 2rem;
    }
}

@media screen and (min-width:0px) and (max-width:768px) {
    .all-products {
        padding-top: 2rem;
    }

    .all-products__principal {
        flex-direction: column;
        align-items: flex-start;
    }

    .all-products__titulo {
        font-size: 1.375rem;
        padding-bottom: 1rem;
    }

    .all-products__button {
        padding: 0.8rem 1.5rem;
    }

    .all-products__lista {
        flex-wrap: wrap;
    }

    .all-products__producto {
        width: calc((100% / 2) - 14px);
        padding-bottom: 1rem;
    }
}